webapp/.env
/venv/
webapp/Pipfile
webapp/Pipfile.lock
__pycache__/
*.py[cod]
*$py.class
.idea
*.iml
.sqlite3
.env
.venv
env/
venv/
ENV/
coverage
node_modules/
jspm_packages/
.idea/
*.stackdump
*.sql
/webapp/db2.sqlite3
/webapp/.env
config/__pycache__
.env
