{% extends 'base.html' %}
{% block content %}
{% load suma %}

{% if a in object_list %}   
    <h1>{{a.autor}} cała historia</h1>
    
{% endif %}
{{ object_list.first.autor }}
<div class="col-8"><table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Wiadomości</th>
        <th scope="col">Zdjęcia</th>
        <th scope="col">Otrzymane reakcje</th>
        <th scope="col">Zapostowane stopy</th>
        <th scope="col">Śr reakcje/foty</th>
      </tr>
    </thead>
    <tbody>
        {% for a in object_list %}   
        <tr>
            <td></td>
            <td>{{a.msgs}}</td>
            <td>{{a.zdj}}</td>
            <td>{{a.reakcje}}</td>
            <td>{{a.stopy}}</td>
            <td>narazie nic</td>
        </tr>    
        {% endfor %}
    </tbody>
  </table></div>


{% endblock %}

