{% extends 'base.html' %}
{% block content %}

{% load suma %}


  
  <div class="row">
    <div class="col-8"><table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Trójmiejski</th>
            <th scope="col">Wiadomości</th>
            <th scope="col">Zdjęcia</th>
            <th scope="col">Otrzymane reakcje</th>
            <th scope="col">Zapostowane stopy</th>
            <th scope="col">Śr reakcje/foty</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
          <tr>
            <th><a href="{{ x.pk }}" >{{ x.name }}</a></th>
            <td>{{  0 | suma_msg:x.name }}</td>
            <td>{{  0 | suma_zdj:x.name }}</td>
            <td>{{  0 | suma_reakcje:x.name }}</td>
            <td>{{  0 | suma_stopy:x.name }}</td>
            <td>{{  0 | score:x.name }}</td>
            
          </tr>
          {%endfor%}
          
        </tbody>
      </table>
    </div>
    <div class="col-4">okres:   POLE WYBORU
    <div >zdjecie tu bedzie wyrkes jak cos</div></div>
    
  </div>
  <a class="btn btn-dark" >detale</a>


{% endblock %}