{% extends 'base.html' %}
{% block content %}

{% load suma %}

    {{form.as_p}}
    {{filter.as_p}}
  <div class="row">
    <div class="col-8"><table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Trójmiejski</th>
            <th scope="col">Wiadomości</th>
            <th scope="col">Zdjęcia</th>
            <th scope="col">Otrzymane reakcje</th>
            <th scope="col">Zapostowane stopy</th>
            <th scope="col">Śr reakcje/foty</th>
          </tr>
        </thead>
        <tbody>
        {% for person in pepole %}
          <tr>
            <th scope="row"><a href="krzysiem" >{{person.name}}</a></th>
              <td>{{ person.sum_messages }}</td>
              <td>{{  person.sum_photos }}</td>
              <td>{{  person.sum_reactions }}</td>
              <td>{{ person.sum_feet }}</td>
              <td></td>


          </tr>
        {% endfor %}
        </tbody>
      </table></div>
    <div class="col-4">zdjecie tu bedzie wyrkes jak cos</div>
    
  </div>
  <a class="btn btn-dark" href="add_score">dodaj score</a>
{% endblock %}